<div class="mt-5 flex gap-3">
    <button class="border-gray-700 border-2" (click)="get500Error()">Test 500 error</button>
    <button class="border-gray-700 border-2" (click)="get404Error()">Test 404 error</button>
    <button class="border-gray-700 border-2" (click)="get400Error()">Test 400 error</button>
    <button class="border-gray-700 border-2" (click)="get400ValidationError()">Test 400Validation error</button>
</div>
<div *ngIf="validationError">
    <ul>
        <li *ngFor="let error of validationError">{{error}}</li>
    </ul>
</div>