@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Roboto', sans-serif;

}

.xng-breadcrumb-root{
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
    text-decoration: none;
}
label.xng-breadcrumb-trail{
    color: orange;
    margin-bottom: 0;
}
.xng-breadcrumb-separator{
    padding: 0 0;
}
.previousbtn{
   
        border: 2px solid coral;
        background-color: whitesmoke;
        color: coral;
        padding:5px 10px;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
    
}
.previousbtn:hover{
    background-color: coral;
    color: #777;
    transition: all 0.5s;
}
.nextbutton{
    background-color: coral;
    border:2px solid whitesmoke;
    justify-content: none;
    color: #777;
    padding:5px 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.nextbutton:hover{
    border: 2px solid coral;
    background-color: whitesmoke;
    color: coral;
    transition: all 0.5s;
}
.nextprevcontainer{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
.labelinputcontainer{
    display: flex;
    justify-content: start;
    gap: 4px;
    align-items: center;
    border:2px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 8px;
}
.label{
    color: #444;
    text-transform: capitalize;
    font-weight: 500;
    font-family: monospace;
    font-size: 16px;
}
.input{
    background-color: #cee;
    border-radius: 3px;
    outline: none;
    border: 1px solid whitesmoke;

}
.input::placeholder{
    color: #666;
    font-size: 15px;
    font-weight: 400;
}