<div class="bg-[whitesmoke] px-4 py-3 uppercase font-bold">

    Order Summary
</div>
<div class="p-4">
    <p class="italic">Shippng cost will be added depending on choices made during checkout</p>
    <ul class="mb-4" *ngIf="(basketTotal$ | async) as totals">
        <li class="flex justify-between py-3 border-b-2">
            <strong>Order Subtotal</strong>
            <strong>{{totals.subTotal}}</strong>
        
        </li>
        <li class="flex justify-between py-3 border-b-2">
            <strong>Shipping and Handling</strong>
            <strong>{{totals.shipping}}</strong>
        
        </li>
        <li class="flex justify-between py-3 border-b-2">
            <strong>Total</strong>
            <strong>{{totals.total}}</strong>
        
        </li>
    </ul>
</div>