<div class="mt-5">
<div class="flex xl:flex-row justify-evenly items-center flex-col">
<app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm'))?.valid">
            <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
        </cdk-step>
    <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm'))?.valid">
        <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
    </cdk-step>
    <cdk-step [label]="'Review'">
        <app-checkout-review></app-checkout-review>
    </cdk-step>
    <cdk-step [label]="'Payment'">
        <h1>Configure Payment</h1>
        <!-- <app-checkout-payment></app-checkout-payment> -->
    </cdk-step>
    
</app-stepper>

<app-order-totals></app-order-totals>

</div>
</div>