<div *ngIf="product" >

<div class="flex md:flex-row justify-center flex-col px-[20px] md:gap-[20px] " >
    
<div class="w-[60%] rounded-[30px] overflow-hidden">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
</div>
<div>
    <h3 class="text-[25px] uppercase text-gray-700 font-[600]">{{product.name}}</h3>
    <p class="font-bold text-[17px] md:text-[19px] my-[12px]">
        {{product.price | currency}}
    </p>
    <div class="flex justify-start items-center md:my-[20px] gap-[10px]">
        <i 
        class="fa fa-minus-circle cursor-pointer text-[2em] text-green-600" 
        ></i>
        <span class="font-bold text-[1.5em] ">2</span>
        <i class="fa fa-plus-circle cursor-pointer text-[2em] text-red-400" 
        ></i>
        <button class="hover:border-[#6734eb] bg-[#6734eb] hover:bg-white duration-150 text-[whitesmoke] outline-none border-2 py-2 px-4 hover:text-gray-600 text-[17px] rounded-md">Add to cart</button>
    </div>
</div>

</div>
<div>
    <h4>Desription </h4>
        <p>{{product.description}}</p>
   
</div>
</div>
