<div class="flex items-center justify-between px-[15px] py-[8px] ">
    <div>
        <h1 class="text-[#6734eb] text-3xl font-bold" routerLink="/">BuckNet</h1>
    </div>
    
        <span id="links" class="md:flex grid items-center uppercase text-[#3b3b3d] justify-between gap-[10px]">
            <a 
            [routerLinkActiveOptions]="{exact:true}"
             [routerLink]="['/']"
             routerLinkActive="active" >Home</a>
            <a  
            [routerLink]="['/shop']"
             routerLinkActive="active" >Shop</a>
            <a  [routerLink]="['/test-error']" routerLinkActive="active">Errors</a>
            
        </span>
        
                <div class="md:flex items-center relative">
                    <a routerLink="/basket" class="flex items-center justify-center md:mr-4">
                        <i class="fa fa-shopping-cart mr-4 text-gray-800 fa-2x"></i>
                        <div 
                        *ngIf="(basket$ | async) as basket"
                        class="w-[12px] h-[12px]  p-3 flex items-center justify-center rounded-full bg-[#6060cc] text-white absolute top-0 ml-[10px]">
                        {{basket.items.length}}</div>
                    </a>
                    <a class="outline-none text-[#3b3b3d] bg-[whitesmoke] py-[2px] px-[8px] border-2 rounded-md   hover:bg-[whitesmoke] duration-200 hover:text-[#6734eb] mr-[8px] cursor-pointer">login</a>
                    <a class="outline-none text-[#6734eb] bg-[whitesmoke] py-[2px] px-[8px] border-2 rounded-md  border-[#6734eb] hover:bg-[#6734eb] duration-200 hover:text-white cursor-pointer">Sign Up</a>
                </div>
            
                

    
</div>
 