<div class="mx-auto mt-4">
    <app-basket-summary [isBasket]="false"></app-basket-summary>
    <div class="nextprevcontainer">
        <button cdkStepperPrevious class="previousbtn">
            <p>Back to delivery</p><i class="fa fa-angle-left text-[16px] font-semibold text-gray-700"></i>
        </button>
        <button cdkStepperNext class="nextbutton">
            <p>proceed to payment</p><i class="fa fa-angle-right text-[16px] font-semibold text-gray-700"></i>
        </button>
    </div>
</div>