<div *ngIf="(basket$ | async) === null">
    <h1>There are no items in your basket</h1>
</div>

<div *ngIf="(basket$ | async) as basket">

    <div class="pb-5">
        <div>
            <div class="flex items-center justify-center">
                <table class="">
                    <thead>
                        <tr class="bg-[whitesmoke] px-4 text-[#444]">
                            <th class="border-0 bg-light">
                                <div class="p-2 px-3 uppercase">Product</div>
                            </th>
                            <th class="border-0 px-3 bg-blend-lighten">
                                <div class="py-2 uppercase">Price</div>
                            </th>
                            <th class="border-0 px-3 bg-blend-lighten">
                                <div class="py-2 uppercase">Quantity</div>
                            </th>
                            <th class="border-0 px-3 bg-blend-lighten">
                                <div class="py-2 uppercase">Total</div>
                            </th>
                            <th class="border-0 px-3 bg-blend-lighten">
                                <div class="py-2 uppercase">remove</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of basket.items">
                            <th>
                                <div class="p-2 md:flex-row flex justify-between">
                                    <img src="{{item.pictureUrl}}" alt="{{item.productName}}" style="max-height: 60px;">
                                    <div class="ml-3 block items-middle">
                                        <h5 class="mb-0 font-semibold text-[#6734eb]">
                                            <a href="/shop/{{item.id}}"  >{{item.productName}}</a>
                                        </h5>
                                        <span class="italic font-normal text-[#555]">Type: {{item.type}}</span>
                                    </div>
                                </div>
                            </th>
                            <td class="align-middle font-semibold text-[#555] md:px-3">{{item.price | currency}}</td>
                            <td class="align-middle md:px-3">
                                <div class="flex items-center justify-between">
                                    <i 
                                    class="fa fa-minus-circle cursor-pointer text-[2em] text-green-600" 
                                    ></i>
                                    <span class="font-normal text-[1.5em] ">{{item.quantity}}</span>
                                    <i class="fa fa-plus-circle cursor-pointer text-[2em] text-red-400" 
                                    ></i>
                                    
                                </div>
                            </td>
                            <td class="align-middle md:px-3 font-semibold text-[#555]">{{item.price * item.quantity | currency}}</td>
                            <td class="align-middle text-center md:px-3">
                                <a class="text-red-500">
                                    <i class="fa fa-trash" style="font-size: 2em;"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="">
<app-order-details></app-order-details>
</div>

</div>